.root {
    max-width: 320px;
    padding: 10px;
}

.wrapp {
    display: flex;
    height: 30px;
}

.wrapp input {
    width: calc(100% - 100px);
    padding: 5px 10px;
}

.wrapp button {
    margin-left: 10px;
    width: 88px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background: #e9e9e9;
    border: 1px solid #dbdddf;
    border-radius: 3px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

ul li img {
    width: 10px;
    margin-left: auto;
}

.error {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

h2 {
    text-align: center;
    margin: 0 0 10px;
}
